@import '../../../assets/styles/colors.scss';

button {
  padding: .75rem;
  display: block;
  width: 100%;
  color: $color1;
  font-size: 1.3rem !important;
  border: none;

  &:disabled {
    opacity: 0.2;
    pointer-events: none;
  }

  &.primary {
    background: $color3;
  }
}