@import '../../../assets/styles/colors.scss';

button {
  padding: .75rem;
  display: block;
  width: 100%;
  color: $color2;
  font-size: 1.3rem !important;
  border: none;
  transition: all .1s linear;

  &:disabled {
    opacity: 0.2;
    pointer-events: none;
  }

  &.primary {
    background: $color1a;

    &:hover {
      background: $color1;
    }
  }
}