@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mixins.scss';

#header {
  background: $color2;

  section {
    display: flex;
    justify-content: flex-end;
  }

  .sign-up {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      margin-right: .5rem;
    }
  }
}