$icon-size-s-tiny: 10px;
$icon-size-tiny: 20px;
$icon-size-small: 30px;
$icon-size-medium: 40px;
$icon-size-x-medium: 50px;
$icon-size-large: 60px;
$icon-size-x-large: 125px;

@mixin icon-size($size) {
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
}

.icon-wrapper {
  display: flex;
  z-index: 1;

  &.s-tiny {
    @include icon-size($icon-size-s-tiny);
  }

  &.tiny {
    @include icon-size($icon-size-tiny);
  }

  &.small {
    @include icon-size($icon-size-small);
  }

  &.medium {
    @include icon-size($icon-size-medium);
  }

  &.x-medium {
    @include icon-size($icon-size-x-medium);
  }

  &.large {
    @include icon-size($icon-size-large);
  }

  &.x-large {
    @include icon-size($icon-size-x-large);
  }

  svg {
    flex: 1;
  }

  &.clickable {
    cursor: pointer;
  }

  &.line-through {
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; left: 0; bottom: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      margin: auto;
      transform: rotate(-45deg);
    }
  }
}
