#forgot-password {
  .link {
    padding: 1rem 0;
    span {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
    }
    .icon-wrapper {
      transform: rotate(90deg);
    }
  }
}