@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mixins.scss';

#authentication {
  height: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0; left: 0; right: 0;
  margin: auto;
  background: rgba(0,0,0,.5);

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &.page-forgot-password {
      height: auto;
    }

    &.page-sign-in {
      height: calc(100vh * (8.6 / 11.4));

      @include minHeight('tablet') {
        height: auto;
      }
    }

    &.page-register {
      height: calc(100vh * (8.6 / 11.2));
    }

    .container-box {
      position: relative;
      padding: 2rem;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      width: 100%;
      background: $color2;
    }

    button {
      display: block;
      width: 100%;

      &:disabled {
        opacity: 0.2;
        pointer-events: none;
      }
    }

    .close-dialog {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      cursor: pointer;
    }

    a {
      color: $color3;
      text-decoration: underline;
      outline: none;
    }

    p {
      margin: 0 0 1rem;

      span {
        margin-left: 5px;
      }
    }

    .component-change {
      text-decoration: underline;
      color: $color3;
      cursor: pointer;
    }

    .auth-header {
      ul {
        li {
          display: inline-block;
          padding-bottom: 1rem;
          width: 50%;
          margin: 0 0 2rem;
          text-align: center;

          &.active {
            text-decoration: underline;
          }

          span {
            cursor: pointer;
          }
        }
      }
    }
  }
}