@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mixins.scss';

#authentication {
  height: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0; left: 0; right: 0;
  margin: auto;
  background: rgba(0,0,0,.5);

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &.page-forgot-password {
      height: auto;
    }

    &.page-sign-in {
      height: calc(100vh * (8.6 / 11.4));

      @include minHeight('tablet') {
        height: auto;
      }
    }

    &.page-register {
      height: calc(100vh * (8.6 / 11.2));
    }

    .container-box {
      position: relative;
      padding: 2rem;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      width: 100%;
      background: $color2;
    }

    .close-dialog {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      cursor: pointer;
    }

    a {
      color: $color3;
      text-decoration: underline;
      outline: none;
    }

    p {
      margin: 1rem 0;

      span {
        margin-left: 5px;
      }
    }

    .component-change {
      text-decoration: underline;
      color: $color3;
      cursor: pointer;
    }

    .auth-header {
      ul {
        li {
          display: inline-block;
          padding-bottom: 1rem;
          width: 50%;
          margin: 0 0 2rem;
          text-align: center;

          &.active {
            text-decoration: underline;
          }

          span {
            cursor: pointer;
          }
        }
      }
    }

    .auth-footer {
      text-align: center;
      margin-top: 1rem;
    }
  }
}

.auth-form {
  .form-group {
      position: relative;
      margin-bottom: 1.5rem;

      .error {
          color: red;
          position: absolute;
          bottom: -1.2rem;
          right: 0;
          font-size: 12px;
      }

      &.date-of-birth {
          .input-container {
              display: flex;
              justify-content: space-between;
              align-items: center;

              div {
                  position: relative;
              }

              input {
                  &:nth-child(2) {
                      margin: 0 1.5rem;
                  }

                  &::placeholder {
                      text-align: center;
                  }
              }
          }
      }

      &.auth-password {
          .eyes {
              position: absolute;
              right: 0;
              bottom: 0;
              display: flex;
              align-items: center;
          }
      }

      .exclamation {
          position: absolute;
          right: -0.5rem;
          bottom: 0;
          display: flex;
          align-items: center;

          &:hover ~ .information-box {
              opacity: 1;
              visibility: visible;
          }
      }

      .information-box {
          position: absolute;
          top: 0.8rem;
          right: 40px;
          width: 200px;
          padding: 0.5rem;
          z-index: 2;
          background: $color1;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;

          &:before {
              content: '';
              position: absolute;
              top: 1rem;
              right: -0.6rem;
              width: 0;
              height: 0;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-left: 10px solid $color1;
          }

          p {
              margin: 0;
              text-align: left;
              font-size: 14px;
              width: 100%;
              span {
                  display: block;
                  margin: 0.3rem 0 0;
                  font-size: 10px;
                  opacity: 0.5;
              }
          }
      }

      .form-label {
          font-size: 14px;
          display: block;
      }

      .form-input {
          background-color: transparent;
          color: $color1;
          outline: 0;
          height: 35px;
          width: 100%;
          display: block;
          padding: 10px 0;
          font-size: 14px;
          border: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
  }

  .accept-t-and-c {
      margin-bottom: 2.5rem;

      label {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          font-size: 12px;
          cursor: pointer;
          user-select: none;

          .confirmation-text {
              width: 100%;

              @include minScreen('phone-wide') {
                  width: auto;
              }
          }

          a {
              margin-left: 5px;
          }

          input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
          }
          .checkmark {
              position: relative;
              height: 20px;
              width: 20px;
              margin-right: 0.5rem;
              background-color: transparent;
              border: 1px solid rgba(255, 255, 255, 0.3);

              &.active {
                  background-color: $color1;

                  &:after {
                      display: block;
                  }
              }

              &:after {
                  content: '';
                  position: absolute;
                  display: none;
                  left: 5px;
                  top: 0;
                  width: 5px;
                  height: 10px;
                  border: solid #000;
                  border-width: 0 3px 3px 0;
                  transform: rotate(45deg);
              }
          }
      }
  }
}