@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mixins.scss';

.auth-form {
  .group {
      position: relative;

      .input-icon {
        position: absolute;
        left: 0; top: .8rem;
      }

      .error {
          color: red;
          position: absolute;
          bottom: -1.2rem;
          right: 0;
          font-size: 12px;
      }

      &.date-of-birth {
          .input-container {
          
              @include minScreen('tablet') {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }

              div {
                  position: relative;
              }
          }

          .error {
            bottom: -1.2rem;

            @include minScreen('tablet') {
              bottom: .7rem;
            }
          }
      }

      &.auth-password {
          .eye {
              position: absolute;
              right: 0;
              bottom: 0;
              display: flex;
              align-items: center;
          }
      }

      .exclamation {
          position: absolute;
          right: -0.5rem;
          top: .75rem;
          display: flex;
          align-items: center;

          &:hover ~ .information-box {
              opacity: 1;
              visibility: visible;
          }
      }

      .information-box {
          position: absolute;
          top: 0;
          right: 2rem;
          width: 200px;
          padding: 0.5rem;
          z-index: 2;
          background: $color2;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;
          margin: 0;

          &:before {
              content: '';
              position: absolute;
              top: 1rem;
              right: -0.6rem;
              width: 0;
              height: 0;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-left: 10px solid $color2;
          }

          span {
            display: block;
            margin: 0.3rem 0 0;
            font-size: .8rem;
            opacity: 0.5;
            color: $color1;
            line-height: 1rem;
          }
      }
  }

  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    div, p {
      margin: 0 !important;
    }
  }

  .accept-t-and-c, .remember-me {
      margin-bottom: 1rem;

      label {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          position: relative;
          font-size: .8rem;
          cursor: pointer;
          user-select: none;

          .confirmation-text {
              width: 100%;
              line-height: 1.2rem;

              @include minScreen('phone-wide') {
                  width: auto;
              }
          }

          a {
              margin-left: 5px;
          }

          input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
          }
          .checkmark {
              position: relative;
              height: 20px;
              width: 20px;
              margin-right: 0.5rem;
              background-color: transparent;
              border: 1px solid rgba(255, 255, 255, 0.3);

              &.active {
                  background-color: $color1;

                  &:after {
                      display: block;
                  }
              }

              &:after {
                  content: '';
                  position: absolute;
                  display: none;
                  left: 6px;
                  top: 1px;
                  width: 5px;
                  height: 10px;
                  border: solid #000;
                  border-width: 0 3px 3px 0;
                  transform: rotate(45deg);
              }
          }
      }
  }
}