@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mixins.scss';

#authentication {
  height: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0; left: 0; right: 0;
  margin: auto;
  z-index: 1000;
  background: rgba(0,0,0,.5);

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &.page-forgot-password {
      height: auto;
    }

    &.page-sign-in {
      height: calc(100vh * (8.6 / 15));

      @include minHeight('tablet') {
        height: auto;
      }
    }

    &.page-register {
      height: calc(100vh * (8.6 / 15));
    }

    .container-box {
      position: relative;
      padding: 0 2rem 2rem;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      width: 100%;
      background: linear-gradient(to right, $color3, $color4);
    }

    .close-dialog {
      position: absolute;
      top: 0.2rem;
      right: 0.2rem;
    }

    a {
      color: $color2;
      text-decoration: underline;
      outline: none;
      transition: all .2s linear;

      &:hover, &:focus {
        color: $color1;
      }
    }

    p {
      margin: 2rem 0;
      line-height: 1.3rem;

      span {
        margin-left: 5px;
      }
    }

    .link {
      color: $color1;
      font-size: 1.2rem;

      span {
        cursor: pointer;
      }
    }

    .auth-header {
      padding-top: 2rem;
      ul {
        display: flex;
        li {
          width: 50%;
          padding: 1rem;
          margin-bottom: 2rem;
          text-align: center;
          text-transform: uppercase;
          color: $color2;
          transition: all .1s linear;

          &:hover {
            color: $color1
          }
          
          &.active {
            background: $color1a;
            color: $color1
          }
        }
      }
    }

    .auth-footer {
      text-align: center;
      margin-top: 1rem;
    }
  }
}
