$color-primary-brand: #47c8ff;
$color-primary-brand-hover: #a3e3ff;
$color-primary-white: #ffffff;
$color-primary-black: #010309;
$color-secondary-dark-1: #0d1629;
$color-secondary-dark-2: #020b1f;
$color-secondary-dark-3: #012755;
$color-secondary-dark-4: #0d192d; //promo gradient end color

$color-grey-1: #d8d8d8;
$color-grey-2: #a1a1a1;
$color-grey-3: #6e6e6e;
$color-grey-4: #4b4b4b;
$color-grey-5: #353535;

$color-progress-bar-bg: rgba(235, 235, 235, 0.3);
$color-gradient-bg: rgba(13, 22, 41, 0);
$color-background-loading: rgba(255, 255, 255, 0.1);

$color-live-red: #ed1f25;

$color-box-shadow: rgba(0, 0, 0, 0.5);