@import './colors.scss';
@import './mixins.scss';

body {
  font-family: $font1;
  color: $color1;
}

//layout
.pd-1 {
  padding: $paddingSize1;
}

.pd-t {
  padding-top: $paddingSize1;
}

.pd-r {
  padding-right: $paddingSize1;
}

.pd-b {
  padding-bottom: $paddingSize1;
}

.pd-l {
  padding-left: $paddingSize1;
}

.col-md {
  max-width: $sizeMD;
  width: 100%;
  margin: auto;
}

.col-sm {
  max-width: $sizeSM;
  width: 100%;
  margin: auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
