@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$breakpoints: (
    'phone': 400px,
    'phone-wide': 480px,
    'small': 526px,
    'tablet': 769px,
    'desktop': 1025px,
    'max': 1601px,
);

@mixin minScreen($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
      $width: map_get($breakpoints, $width);
      @if $type == max {
          $width: $width - 1px;
      }
      @media only screen and (#{$type}-width: $width) {
          @content;
      }
  }
}

@mixin minHeight($height, $type: min) {
    @if map_has_key($breakpoints, $height) {
        $height: map_get($breakpoints, $height);
        @if $type == max {
            $height: $height - 1px;
        }
        @media only screen and (#{$type}-height: $height) {
            @content;
        }
    }
}

//font
$font1: 'Roboto', sans-serif;

//layout
$paddingSize1: 1rem;

//media
$sizeMD: 992px;
$sizeSM: 768px;