@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin minScreen($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
      $width: map_get($breakpoints, $width);
      @if $type == max {
          $width: $width - 1px;
      }
      @media only screen and (#{$type}-width: $width) {
          @content;
      }
  }
}

//font
$font1: 'Roboto', sans-serif;

//layout
$paddingSize1: 1rem;